.skms-event__title
  max-width 480px

.skms-event__list
  justify-content center
  margin-bottom -80px
  @media (max-width breakpoint)
    margin-bottom -20px

.skms-event__item
  max-width 33%
  margin-bottom 80px
  @media (max-width breakpoint)
    margin-bottom 20px