.skms-neural
  background url('../img/content/skms/neural-bg.jpg') center no-repeat
  background-size cover
  height 500px
  .container
    height 100%

.skms-neural__wrap
  color white
  padding-top 50px
  border-bottom none
  height 100%

.skms-neural__text
  max-width 480px
  &+&
    margin-top 10px