.skms-practice__list
  justify-content space-between
  margin-bottom -100px
  @media (max-width breakpoint)
    margin-bottom -20px

.skms-practice__item
  margin-bottom 100px
  @media (max-width breakpoint)
    margin-bottom 20px