extends ../layout/main

block variables
	- var title = 'СКМС'

block content
	include ../section/skms/hero
	include ../section/skms/about
	include ../section/skms/practice
	include ../section/advantage