.smpo-event__list
  justify-content center
  margin-bottom -70px
  @media (max-width breakpoint)
    margin-bottom -20px

.smpo-features__item
  margin-bottom 70px
  @media (max-width breakpoint)
    margin-bottom 20px