section.skms-neural(id=skms.neural.id)
  .container
    .inner-section__wrap.skms-neural__wrap
      h3.inner-section__title.skms-neural__title= skms.neural.title
      each text in skms.neural.texts
        p.text.skms-neural__text= text