section.skms-practice.inner-section
  .container
    .inner-section__wrap
      h3.inner-section__title.skms-practice__title= skms.practice.title
      .skms-practice__list.inner-section__list
        each item in skms.practice.list
          .skms-practice__item.inner-section__item
            +icon(item["icon"])
            span.text= item.text