// ОБЩИЕ СТИЛИ

.wrapper 
	width 100%
	max-width 1920px
	margin 0 auto

.overflow-hidden
	overflow hidden

.text
	font-size 14px
  line-height 16px
  font-weight 300
  letter-spacing 0.14px


// футер к низу

body 
	display flex
	flex-direction column

.main 
	flex 1
