.menu
  display flex
  align-items center

.menu__item
  color white
  font-size 14px
  letter-spacing 0.14px
  &+&
    margin-left 60px
  &:hover
    text-decoration underline

.menu__list
  margin-right 60px

.menu__open
  display flex
  align-items center
  cursor pointer
  svg
    margin-right 13px
    fill white
    width 32px
    height 32px
