.advantage
  display flex

.advantage__block
  width 25%
  padding 50px
  background-color accent-color
  color white
  &+&
    border-left 1px solid mercury
  &:hover
    background-color lighten(accent-color, 5)

.advantage__tag
  font-size 14px
  font-weight 300
  letter-spacing 0.14px
  display block
  margin-bottom 20px

.advantage__title
  font-size 34px
  font-weight 500
  letter-spacing 0.34px
  margin-bottom 25px

.advantage__text
  &+&
    margin-top 10px