.footer
  padding-top 65px
  position relative
  &:before
    content ''
    display block
    width 1px
    height 100%
    background-color alto
    position absolute
    top 0
    left 50%
    transform translateX(-50%)

.footer__logo
  border-top 1px solid alto
  border-bottom 1px solid alto
  padding 30px 85px
  svg
    width 180px
    height 45px
    fill accent-color

.footer__content
  display flex

.footer__col
  width 50%
  padding 40px 80px 60px
  &--row
    display flex

.footer__about
  margin-bottom 100px

.footer__about-title
  font-size 14px
  font-weight 500
  letter-spacing 0.14px
  margin-bottom 20px

.footer__about-content
  display flex
  flex-wrap wrap
  max-width 640px
  justify-content space-between

.footer__about-text
  color base-color
  font-size 14px
  font-weight 300
  line-height 16px
  letter-spacing 0.14px
  max-width 300px
  &:nth-last-child(-n+2)
    margin-top 20px

.footer__copyright
  font-size 14px
  font-weight 300
  line-height 16px
  letter-spacing 0.14px

.footer__contacts
  margin-left 100px
  margin-right 60px
  max-width 265px
  flex none

.footer__contacts-title
  font-size 14px
  font-weight 500
  letter-spacing 0.14px
  margin-bottom 20px

.footer__contacts-address
  color base-color
  font-size 14px
  font-weight 300
  line-height 16px
  letter-spacing 0.14px
  margin-bottom 30px

.footer__contacts-link
  display inline-flex
  align-items center
  color base-color
  font-size 14px
  font-weight 300
  line-height 16px
  letter-spacing 0.14px
  transition all .2s
  cursor pointer
  &+&
    margin-top 25px
  svg
    width 20px
    height 20px
    fill base-color
    margin-right 10px
    transition all .2s
  &:hover
    color #000
    svg
      fill #000

.footer__contacts-policy
  max-width 185px
  font-size 14px
  font-weight 300
  line-height 16px
  letter-spacing 0.14px
  margin-top 80px
  display block
  &:hover
    text-decoration underline

.footer__form
  width 100%

.footer__form-title
  margin-bottom 20px
  color base-color
  font-size 14px
  font-weight 300